a {
    color: #333;
    text-decoration: none;
}

.num {
    font-family: monospace;
    font-size: 16px;
    line-height: 20px;
    padding: 5px;
    margin: 0 10px;
    border-radius: 8px;
    text-align: right;
    min-width: 50px;
    display: inline-block;

    &.up {
        color: #e63939;
    }
    &.down {
        color: #24b34a;
    }
    &.bg-up {
        animation: redb 1.5s ease-in-out forwards;
    }
    &.bg-down {
        animation: greenb 1.5s ease-in-out forwards;
    }

    @keyframes redb {
        0% {
            background: rgba(230, 57, 57, .15);
        }
        100% {
            background: inherit;
        }
    }
    @keyframes greenb {
        0% {
            background: rgba(36, 179, 74, .15);
        }
        100% {
            background: inherit;
        }
    }
}

.wol-header {
    background: #0c0c0c;
    height: 60px;
    color: #fff;
    a {
        display: block;
    }
}

.wol-footer {
    height: 30px;
    line-height: 30px;
    background: #333;
    color: #fff;
    text-align: center;
}

.wol-1200 {
    max-width: 90%;
    margin: 10px auto;
    background: #eee;
    min-height: 500px;
}
